/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&display=swap');
/* font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif; */

/* Color Guide:
Soft green - #8fbcb3 (header, footer)
Dark font - #293845 (nav, p when background is light)
Green accent - #217868 (special text, like Sign Up)
Neutral tan - #c4bdaf (background)
Darker neutral tan - #887a5f (buttons)

*/


/* RESET & SETUP */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    /* border: 1px solid gray; */
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h2, h3, h4, h5 {
    /* font-size: 18px;
    margin-bottom: 15px; */
    font-family: 'Poiret One', cursive;
    color: #293845;
    
}

p {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* end of reset & setup */




/* HEADER STYLING */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #8fbcb3;
    align-items: center;
}
h1{
    color: white;
    padding: 3% 2%;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

header nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: 2%;
}

header a {
    text-align: center;
    color: #293845;
    margin: 3%;
    padding-bottom: 0.8%;
}
#signUpButton {
    color: #217868;
    font-weight: bolder;
    border-bottom: 2px solid #217868;
}