/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&display=swap');
/* font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif; */

/* Color Guide:
Soft green - #8fbcb3 (header, footer)
Dark font - #293845 (nav, p when background is light)
Green accent - #217868 (special text, like Sign Up)
Neutral tan - #c4bdaf (background)
Darker neutral tan - #887a5f (buttons)
Darker gray, transparent - rgba(65,65,69, 0.7) (make text stand out over images)
*/


/* RESET & SETUP */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    /* border: 1px solid gray; */
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h2, h3, h4, h5 {
    /* font-size: 18px;
    margin-bottom: 15px; */
    font-family: 'Poiret One', cursive;
    color: white;
    
}

p {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    color: #293845;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #293845;
}
a:hover{
    color: #217868;
    font-weight: bolder;
}

.container {
    width: 800px;
    margin: 0 auto;
}
button {
    background-color: #887a5f;
    color: white;
    padding: 2% 4%;
    font-family: 'Poiret One', cursive;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    font-size: 1.05rem;
    /* white-space: nowrap; */
}
button:hover {
    background-color: #8fbcb3;
    font-weight: bolder;
}

/* end of reset & setup */




/* HEADER STYLING */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #8fbcb3;
    align-items: center;
}
h1{
    color: white;
    padding: 3% 2%;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

header nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: 2%;
}

header a {
    text-align: center;
    color: #293845;
    margin: 3%;
    padding-bottom: 0.8%;
}
#signUpButton {
    color: #217868;
    font-weight: bolder;
    border-bottom: 2px solid #217868;
}
#signUpButton:hover{
    color: white;
}

/* end of header styling */






/* FOOTER STYLING */
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #8fbcb3;
    align-items: center;
}
#leftNav {
    display: flex;
    flex-flow: column wrap;
    text-align: right;
    width: 15%;
    line-height: 1.5rem;
}

#rightNav {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 15%;
    line-height: 1.5rem;
}

footer h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 8%;
}
#newsletter{
    padding: 2% 4%;
}
#newsletter p{
    background-color: white;
    text-align: center;
}
/* end of footer styling */






/* HOME - HERO SECTION STYLING */

#heroSection {
    background-image: url("images/WMP Hero 1.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  #heroText {
    position: absolute;
    width: 40%;
    color: white;
    margin: 4% 6%;
    padding: 1.8%;
    background-color:rgba(65,65,69, 0.7);
    border-radius: 8px;
  }

  #heroText h2 {
      font-size: 3rem;
      padding-bottom: 4%;
  }
  #heroText p{
      color: white;
  }

/* end of home - hero section styling*/



/* --- HOME PAGE --- */

/* HOME - EVEN SIMPLER STYLING */

#evenSimpler {
    display: flex;
    flex-flow: column nowrap;
    background: rgb(196,189,175);
    background: linear-gradient(90deg, rgba(196,189,175,1) 0%, rgba(196,189,175,1) 67%, rgba(143,188,179,1) 100%);
    /* https://cssgradient.io/ super fun source! */
    padding: auto 6%;
    color: white;
    padding: 4% 6%;
}

#evenSimpler h3 {
    font-size: 2rem;
    padding-bottom: 1%;
}
#evenSimpler span{
    color: #217868;
    font-size: 1.5rem;
}
/* end of home - even simpler styling */





/* HOME - GALLERY STYLING */

#gallery{
    margin-top: 4%;
    display: flex;
    /* padding: 0 6%; */
}

.galleryBox{
    display: flex;
    margin: 6%;
    position: relative;
    /* max-width: 10%; */
}
.galleryBox img {
    max-width: 100%;
    /* height: auto; */
}
.galleryBox button {
    position: absolute;
    left: 30%;
    /* margin-left: -50%; */
    top: 45%;
    /* margin-top: -50%; */
    width: 40%;
    /* height: 10%; */
}

/* end of home - gallery styling */






/* HOME - FLOATING IMAGE STYLING */
#floatingImage{
    position: absolute;
    left: 60%;
    top: 35%;
    width: 33%;
    max-width: 500px;
    z-index: 2;
    border: 2px solid white;
}
/* end of home - floating image styling */











/* --- ABOUT PAGE --- */

/* ABOUT - HEADLINE STYLES */
#sanctuaryInfo {
    display: flex;
    padding: 2% 6%;
    background-color: #c4bdaf;
}
#sanctuaryInfo img{
    width: 38%;
}
#sanctuaryInfo h2 {
    font-size: 4rem;
    padding-bottom: 3%;
}
#sanctuaryInfo div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#sanctuaryInfo button {
    width: 30%;
}
#sanctuaryInfo span{
    color: #217868;
    font-size: 1.5rem;
}


/* end of about - headline styles */





/* ABOUT - STEPS STYLES */
#steps {
    display: flex;
    flex-direction: column;
    padding: 2% 6%;
}
#steps h4 {
    color: #217868;
    font-size: 1.8rem;
    font-weight: bolder;
    padding: 0 2%;
}
.stepsImgRight {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.stepsImgLeft {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#steps img {
    width: 40%;
}
.stepsText {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stepsTextLeft {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.stepsTextLeft p {
    padding: 2%;
}
.stepsText p {
    padding: 2%;
}




/* end of about - steps styles */

