html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif; */
html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to bottom right, #ff0b93, #b831db, #4123c2);
}

h1, p {
    font-family: 'Playfair Display', serif;
    color: #eaecf5;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    margin: 5%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;

}

a {
    font-size: 2rem;
    padding-left: 6%;
    text-decoration: none;
    color: #4cd73a;
}

.header_img {
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
}

h1 {
    font-size: 3rem;
    margin-left: 15%;
    margin-bottom: 5%;
    font-weight: bold;
}

form {
    margin-left: 17%;
}

label {
    font-size: 2rem;
    color: #eaecf5;
}

#fname, #lname, #email, #othere {
    width: 700px;
    height: 35px;
    margin: 1% 1% 1% 0%;
    background-color: #eaecf5;
    border: 2px solid black;
    border-radius: 3px;
}

#male, #female, #other, #gender {
    margin: 1% 1% 1% 0%;
    border: black;
}

#submit {
    width: 150px;
    margin: 2% 2% 2% 0%;
    border-radius: 3px;
    height: 35px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #eaecf5;
    background-color: #4cd73a;
    border: 2px solid black;
}

footer {
    text-align: center;
    margin: 18% 0%;
}